body, html {
    height: 100%;
}

.navbar {
    /* display: none; */
    position: fixed;
}

.container-fluid {
    height: 100vh;
    width: auto;
    display: flex;
}

.nav-link {
    font-family: 'Hammersmith One', sans-serif;
    color: white;
}

.nav-link:hover {
    color: #AF7F02;
}

#home {
    background: url("../images/home_page.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-color: #F2F2EA;
    color: #AF7F02;
}

#contact {
    background-color: white;
}

.media {
    background-color: black;
    height: 30vh;
    width: 30vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.contact-block {
    height: 30vh;
    width: 40vh;
}