body {
    background-color: #F2F2EA;
}

/* Admin Page alterations */

/* All anchor elements inside nav-item classes */
.n-container .nav-link{
    background-color: #C4C4C4;
    text-align: center;
    color: black;
    /* line-height: 5.5rem; */
    height: 5.5rem;
}

/* Changing the active color of the nav-item tabs in Admin Page */
.nav-pills > li > .active, .nav-pills > li > .active:hover, .nav-pills > li > .active:focus {
    /* !important is necessary for this code and I'm not sure what is does... */
    background-color:#D4B563!important;
}

.admin-title {
    padding: 1.5rem 0%;
}

.nav-item {
    padding: auto;
}

.tab-container {
    display: block;
    width: 80%;
    margin:auto;
}