/* Navbar */
html, body {
    height: 100%;
}

.nav-link {
    font-family: 'Hammersmith One', sans-serif;
    color: white;
}

.top-nav-item a{
    color: #fff;
    /* text-transform: uppercase; */
    text-decoration: none;
    /* letter-spacing: 0.15em; */
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.top-nav-item a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.top-nav-item a:hover:after {
    width: 100%;
    left: 0;
}


.top-navbar {
    width: 100%;
}

.admin-nav-item {
    margin: 0rem 1rem;
}

.admin-nav-item a:hover{
    color: #0275d8;
    background: #C4C4C4;
}

/* Admin Page alterations -----------------------------------------------------------------------*/

/* All nav-link anchor elements inside n-container classes */
.n-container .nav-link{
    /* background-color: white; */
    background-color: #C4C4C4;
    text-align: center;
    color: black;
    /* line-height: 5.5rem; */
    padding: 2rem 0px;
    height: 5.5rem;
    font-size: 1.2em; /* 24px by default, depending on user's browser settings */
}

/* Changing the active color of the nav-item tabs in Admin Page */
.nav-admin > li > .active, .nav-admin > li > .active:hover, .nav-admin > li > .active:focus {
    /* !important is necessary for this code and I'm not sure what is does... */
    background-color:#D4B563!important;
}

.admin-title {
    padding: 1.5rem 0%;
    /* background-color: #D4B563; */
}

.admin-btn-container {
    display: inline-block;
    text-align: left;
    padding-left: 0px;
}

.admin-btn-modal {
    margin: 1.2rem 1.2rem 1.2rem 0;
}

/* The DIV that houses the save buttons */
.about-saveinfo {
    text-align: right;
}

.admin-saveinfo-btn {
    margin-top: 10px;
    width: 20%;
}

#admin-info-header {
    font-weight: bold;
}

.admin-title h1 {
    font-weight: bold;
}

.nav-item {
    padding: auto;
    vertical-align: middle;
}

.tab-container {
    display: block;
    width: 80%;
    margin:auto;
}

.info-tab {
    padding-top: 2.5rem;
    text-align: left;
}