.checkout-title {
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Hammersmith One', sans-serif;
    background: linear-gradient(to bottom, #D4B563 50%, transparent 50%);
}

.checkout-ctn {
    margin: 5% 0 5% 0;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background: white;
}

.checkout-card {
    background-color: white;
}

.subtotal-text {
    text-align: right;
}

.subtotal-price {
    text-align: right;
}

.mdb-select {
    width: 100%;
    display: block;
}

.md-form {
    margin-bottom: 1rem;
}

/* Payment card CSS */
.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}

.card-billing {
    padding: 1.5rem 2rem;
}

.payment-row {
    text-align: right;
}
