{% extends 'base.html' %}
{% block title %}
    Admin page
{% endblock %}
<head>
  <!-- Customized CSS -->
  <link rel= "stylesheet" type= "text/css" href= "/egrocery/market/static/styles/styles.css">
</head>

{% block content %}
<body class="text-center">
    <div class="container">
        <h1>ADMIN PANEL</h1>
    </div>
    <div class="n-container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Product Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Offer Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Orders & Shipments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Update Information</a>
            </li>
          </ul>
    </div>


    <!-- Product Tab Container -->
    <div class="tab-container product-tab">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Offers Tab Container -->
    <div class="tab-container offers-tab">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Offers</th>
          </tr>
        </thead>
      </table>
    </div>

    <!-- Orders Tab Container -->
    <div class="tab-container orders-tab">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Orders</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Info Tab Container -->
    <div class="tab-container info-tab">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Javascript to make the newly clicked tab the "active" tab -->
    <!-- JavaScript JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script>
      showCorrectContent();
        $(".nav li a").on("click", function() {
            $(".nav li a").removeClass("active");
            $(this).addClass("active");
            showCorrectContent();
        });

        // Displays content based on which tab is selected
        function showCorrectContent() {
          switch($(".active").text()) {
            case "Product Management":
              $(".product-tab").show();
              $(".info-tab").hide();
              $(".offers-tab").hide();
              $(".orders-tab").hide();
              break;

            case("Offer Management"):
              $(".product-tab").hide();
              $(".info-tab").hide();
              $(".offers-tab").show();
              $(".orders-tab").hide();
              break;

            case("Orders & Shipments"):
              $(".product-tab").hide();
              $(".info-tab").hide();
              $(".offers-tab").hide();
              $(".orders-tab").show();
              break;
            
            case("Update Information"):
              $(".product-tab").hide();
              $(".info-tab").show();
              $(".offers-tab").hide();
              $(".orders-tab").hide(); 
              break;

            default:
              alert("Other tab selected")
          }
        }
    </script>
</body>
{% endblock %}